1. Print "Hello, World!"

In [2]:
print("Hello, World!")

Hello, World!

2. Assign values to variables and print them

In [3]:
a=9
print(a)

9

3. Swap two numbers without using a third variable

In [54]:
a=5
b=6

a=a+b
b=a-b
a=a-b

print(a,b)

6 5

In [8]:
a,b=5,6
b,a=a,b
print(a,b)

6 5

4. Find the maximum of two numbers

In [5]:
a=5
b=6

print(max(a,b))

6

5. Check if a number is even or odd

In [7]:
a=9
if a%2==0:
    print("even")
else:
    print("odd")

odd

6. Find the square of a number

In [2]:
a=5
print("Square of a is",a**2)

Square of a is 25

7. Find the cube of a number

In [10]:
print(a**3)

125

8. Calculate the area of a rectangle

In [3]:
l=5
w=6
print(l*w)

30

9. Calculate the perimeter of a rectangle

In [14]:
print(2*(a+b))

20

10. Convert Celsius to Fahrenheit

In [4]:
c=int(input("enter: "))

f=(c*(9/5))+32
print(f)

enter:  4

39.2

11. Convert Fahrenheit to Celsius

In [21]:
s=90
c=(5*(s-32))/9
print(round(c,2))

32.22

12. Check if a number is positive, negative, or zero

In [19]:
d=int(input("enter: "))

if d<0:
    print("negetive")
elif d==0:
    print("zero")
else:
    print("positive")

enter:  4

positive

13. Find the sum of two numbers

In [25]:
q=int(input("enter: "))
w=int(input("enter: "))

print(q+w)

enter 3
enter 4

7

14. Find the difference between two numbers

In [20]:
q,w=4,7
print(q-w)

-3

15. Multiply two numbers

In [21]:
q,w=5,2
print(q*w)

10

16. Divide two numbers

In [22]:
q,w=9,2
print(q/w)

4.5

17. Find the remainder of a division

In [23]:
q,w=9,4
print(q%w)

1

18. Find the quotient of a division

In [25]:
q,w=9,4
print(q//w)

2

19. Check if a number is a multiple of another

In [36]:
a,b=3,10
if b%a==0:
    print("yes")
else:
    print("no")

no

20. Find the greatest among three numbers

In [37]:
a,b,c=4,6,2
print(max(a,b,c))

6

21. Find the sum of digits of a number

In [27]:
num = 123
print(sum(int(d) for d in str(num)))

6

22. Reverse a number

In [28]:
num=90834
print(int(str(num)[::-1]))

43809

23. Find the average of numbers in a list

In [35]:
n=[1,2,3,4,5]
print(sum(n)/len(n))

m=12345
print(sum(int(d) for d in str(m))/len(str(m)))

3.0
3.0

24. Find the maximum element in a list

In [30]:
n=[3,4,5,2,4,5,9]
max(n)

9

25. Find the GCD of two numbers

In [42]:
import math

math.gcd(3,5,15,12,14,30)

1

26. Find the LCM of two numbers

In [43]:
math.lcm(4,5,6,3)

60

27. Find the sum of the first N natural numbers

In [47]:
num=int(input("enter"))
sum=0
for i in range(1,num+1,1):
    sum+=i
print(sum)

enter 10

55

28. Find the sum of all even numbers from 1 to N

In [48]:
num=int(input("enter"))
sum=0
for i in range(2,num+1,2):
    sum+=i
print(sum)

30

29. Find the sum of all odd numbers from 1 to N

In [49]:
num=int(input("enter"))
sum=0
for i in range(1,num+1,2):
    sum+=i
print(sum)

25

30. Count the number of digits in a number

In [31]:
n = input("enter: ")
print(len(n))

enter:  42342

5

31. Find the largest digit in a number

In [11]:
a=1234
max(int(d) for d in str(a))

4

32. Find the smallest digit in a number

In [14]:
a=323898924
print(min(int(d) for d in str(a)))

2

33. Print the ASCII value of a character

In [33]:
print(ord('F'))

70

34. Print the character for a given ASCII value

In [ ]:
chr(89)

35. Reverse a string

In [35]:
h='day'

print(h[::-1])

yad

36. Write a Python program to display the first and last colors from the following list. color_list = ["Red","Green","White" ,"Black"]

In [36]:
colors = ["Red","Green","White" ,"Black"]
print(colors[-1])
print(colors[0])

Black
Red

37. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

In [16]:
n = input("Enter a number: ")
a = int(n)
b = int(f"{n}{n}")
c = int(f"{n}{n}{n}")
print(a + b + c)

Enter a number:  3

369

38. Check if a string is a palindrome

In [37]:
t='python'

t==t[::-1]

False

39. Count the vowels in a string

In [38]:
t="Hello Python %"
print(sum(1 for c in t.lower() if c in "aeiou"))
print(sum(t.count(vowel) for vowel in "aeiou"))

3
3

40. Count the consonants in a string

In [47]:
t='Hello Python %'
sum(t.count(v) for v in t if v.isalpha() and v not in "aeiou")

22

41. Convert a string to uppercase

In [39]:
t.upper()

'HELLO PYTHON %'

42. Convert a string to lowercase

In [40]:
t.lower()

'hello python %'

43. Capitalize the first letter of a string

In [41]:
t.capitalize()

'Hello python %'

44. Convert a list to a string

In [44]:
list=['3','4','5','6','3','1']
print("".join(list))

345631

45. Find the sum of a list

In [45]:
list=[3,4,5,6,7]
sum(list)

25

46. Write a Python program to get the volume of a sphere with radius six.

In [47]:
r=6
v=(4/3)*3.1416*r**3
print(round(v,2))

904.78

47. Write a Python program to concatenate two list

In [48]:
a,b=[4,5,6,7],[1,6,7,8]
print(a+b)

[4, 5, 6, 7, 1, 6, 7, 8]

48. Write a Python program to sort a list

In [52]:
a=[2,5,6,3,2]
a.sort()
print(a)

[2, 2, 3, 5, 6]

49. Write a python program to insert a item into list

In [56]:
a=[2,5,6,3,2]
a.insert(2, 6)
print(a)

[2, 5, 6, 6, 3, 2]

50. Write a python program to print a list in descending

In [58]:
a=[2,5,6,3,2]
a.sort(reverse=True)
print(a)

[6, 5, 3, 2, 2]