1. Find the intersection of two lists

In [2]:
l1=[2,3,5,6,7,8]
l2=[6,4,2,6,9,4,2]

set(l1).intersection(set(l2)) # intersect doesn't works on list

{2, 6}

2. Find the union of two lists

In [9]:
print(list(set(l1).union(set(l2))))

print(list(set(l1) | set(l2)))

[2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]

3. FInd common items from two list

In [51]:
a=[3,5,62,2]
b=[4,12,3,1,2]

com=list(set(a)&set(b))
print(com)

[2, 3]

4. Find unique items from two list

In [25]:
a=[3,5,62,2]
b=[4,12,3,1,2]

uni=list(set(a)^set(b))
print(uni)

[1, 4, 5, 12, 62]

5. Find symmetric difference within two sets

In [57]:
a={3,5,62,2}
b={4,12,3,1,2}

print(a^b)
print(a.symmetric_difference(b))

{1, 4, 5, 12, 62}
{1, 4, 5, 12, 62}

6. Find Value Range in list

In [63]:
a=[3,5,2,5,2,4,34]
c=0

for i in a:
    if i!= 4:
        c+=1
print(c)

6

7. Count every characters from a string

In [30]:
a="Hello python"

count={}
for c in a:
    if c in count:
        count[c]+=1
    else:
        count[c]=1
print(count)

{'H': 1, 'e': 1, 'l': 2, 'o': 2, ' ': 1, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'n': 1}

8. Count every word from a string

In [47]:
a="Hello python"

w=a.split()
count={}
for i in w:
    count[i]=count.get(i,0)+1
print(count)

{'Hello': 1, 'python': 1}

9. Sort all the characters in a string

In [50]:
a="Hello python"
print(''.join(sorted(a)))

 Hehllnoopty

10. Sort a list with sorted function

In [3]:
sorted(l2,reverse=True)

[9, 6, 6, 4, 4, 2, 2]

11. Flattening a Nested List

In [3]:
nested_lst = [[1, 2], [3, 4], [5, 6]]
lst = sum(nested_lst, [])
print(lst)

[1, 2, 3, 4, 5, 6]

12. Sort dictionary by their keys

In [36]:
stu={"sakib":12,"emon":83,"hula":21}

dict(sorted(stu.items(),key=lambda item:item[1]))

{'sakib': 12, 'hula': 21, 'emon': 83}

13. Check that a specific key is in the dictionary or not

In [39]:
stu={"sakib":12,"emon":83,"hula":21}
if "sakib" in stu:
    print("yes")
else:
    print("no")

yes

14. Delete a key from dictionary

In [41]:
stu={"sakib":12,"emon":83,"hula":21}

stu.pop("sakib")
print(stu)

{'emon': 83, 'hula': 21}

15. Comprese two list to a dictionary

In [43]:
a=["sakib","emon","Hula","ula"]
b=[12,43,94,90]

dic=dict(zip(a,b))
print(dic)

{'sakib': 12, 'emon': 43, 'Hula': 94, 'ula': 90}

16. Replace remove spaces from values " H e l l o P y t h o n "

In [4]:
txt=" H e l l o P y t h o n "
txt.replace(" ","")

'Hellopython'

17. Check if two strings are anagrams

In [7]:
a="hello"
b="lohle"
#An anagram of a string is another string that contains the same characters, only the order of characters can be different.
print(sorted(a)==sorted(b))

True

18. Check if a number is prime

In [15]:
n=5

for i in range(2,n,1):
    if n%i==0:
        print("non")
        break
else:
    print("prime")

prime

19. Find the factorial of a number

In [20]:
n=5
fac=1
for i in range(1,n+1):
    fac*=i
print(fac)

120

20. Generate a Fibonacci sequence (first 10 numbers)

In [50]:
n=10
a=0
b=1
print(a,b,end=" ")
for i in range (2,n):
    c=a+b
    a=b
    b=c
    print(c, end=" ")

0 1 1 2 3 5 8 13 21 34

21. Sum of three given integers. However, if two values are equal sum will be zero

In [52]:
a,b,c=2,2,4
a + b + c if len({a, b, c}) == 3 else 0

0

22. Find the longest word in a sentence

In [59]:
sent = "Python is a powerful programming language"
max(sent.split(),key=len)

'programming'

23. Reverse words in a sentence

In [71]:
sentence = "Hello World"
print(" ".join(sentence.split()[::-1]))

World Hello

24. Check The is armstrong or not

In [77]:
n=153

print(n==sum(int(num)**3 for num in str(n)))

True

25. Write a Python program to test whether a passed letter is a vowel or not.

In [3]:
v= ['a','e','i','o','u','A','E','I','O','U']
a='t'

print('v') if a in v else print('c')

c

26. Write a program to convert "2 0 1 7" to the list [2, 0, 1, 7]?

In [7]:
[int(i) for i in "2 0 1 7".split()]

[2, 0, 1, 7]

27. Write a Python program that concatenates all elements in a list into a string and returns it.

In [5]:
lst=[2,4,7,6,4,3]
int("".join(map(str,lst)))

247643

28. Write a Python program to sum three given integers. However, if two values are equal, the sum will be zero.(Triple Sum with Equality Rule)

In [12]:
a=4
b=2
c=2

if a==b or b==c or c==a:
    sum=0
else:
    sum=a+b+c
print(sum)

0

29. Write a Python program to sort three integers without using conditional statements and loops.

In [5]:
a=5
b=6
c=9

mini=min(a,b,c)
print(mini)
maxi=max(a,b,c)
print(maxi)
mid=(a+b+c)-mini-maxi
print(mid)

5
9
6

30. Write a Python program to calculate the midpoints of a line.

In [10]:
x1,x2=4,3
y1,y2=6,9

x_point=(x1+x2)/2
y_point=(y1+y2)/2
print("x_point "+str(x_point)+"\ny_point "+str(y_point))

x_point 3.5
y_point 7.5

31. Write a Python program to test whether all numbers in a list are greater than a certain number.

In [12]:
n=[3,5,6,2,3,1]

all(x>1 for x in n)

False

32. Write a Python program to remove the first item from a specified list.

In [15]:
lst=['red','green','purple','black','white']

del lst[0]
print(lst)

['green', 'purple', 'black', 'white']

33. Write a Python program to format a specified string and limit the length of a string.

In [16]:
stri = "1234567890"

print('%.6s'%stri)

123456

34. Write a Python program to split a variable length string into variables.

In [17]:
n=[1,3,5,6,7]
a,b,c,d,e=n
print(a,b,c,d,e)

1 3 5 6 7

35. Write a Python program to calculates the number of divisors

In [21]:
n=12
x = len([i for i in range(1, n + 1) if not n % i])
print(x)

6

36. Write a Python program to compute the digit number of the sum of two given integers.

In [47]:
print("Input two integers(ab): ")
a, b = map(int, input().split())
print(len(str(a + b)))

Input two integers(ab):

 6856 98

4

37. Write a Python program for grading with map function

In [41]:
a=[80,39,93,54]
def marks(a):
    
    if a>=90:
        return "a"
    elif a>=80:
        return "b"
    elif a>=70:
        return "c"
    else:
        return "d"
grades=map(marks,a)

print("f: ",list(grades))

f:  ['b', 'd', 'a', 'd']

38. Write a Python program to check whether a given number is Oddish or Evenish.

In [4]:
#A number is called "Oddish" if the sum of all of its digits is odd, and a number is called "Evenish" if the sum of all of its digits is even.

n=8132
summ=sum(int(i) for i in str(n))

print("Evenish") if summ%2==0 else print("Oddinsh")

Evenish

39. Sum of the last digit of first number and the last digit of second number equal to the last digit of third number

In [16]:
a=29426
b=39423
c=53789
if int(str(a)[-1])+int(str(b)[-1])==int(str(c)[-1]):
    print("True")
else:
    print("False")

True

40. Write a Python program to generate and print a list of numbers from 1 to 10.

In [22]:
list(map(str,range(1,10)))

['1', '2', '3', '4', '5', '6', '7', '8', '9']

41. Write a Python program to reverse a string

In [14]:
sentence = "Hello World"
print(sentence[::-1])

dlroW olleH

42. Write a Python program where greater than 5 characters waord are being reversed

In [8]:
sentence=' Python program to check whether a given'
" ".join([i[::-1] if len(i)>=5 else i for i in sentence.split()])

'nohtyP margorp to kcehc rehtehw a nevig'

43. Write a Python program to split a sting with space

In [17]:
" ".join(sentence)

'H e l l o   W o r l d'

44. Write a python Program to convert a decimal number system to other number system

In [2]:
num = 42
print(bin(num), oct(num), hex(num))

0b101010 0o52 0x2a

45. list to number

In [3]:
lst = [1, 2, 3, 4]
num = int("".join(map(str, lst)))
print(num)

1234

46. Write a Python program that counts the number of prime numbers that are less than a given non-negative number.

In [17]:
n,ctr= 10,0
for num in range(n):
    if num <= 1:  
        continue
    for i in range(2, num):
        if (num % i) == 0:  
            break
    else:
        ctr += 1
print(ctr)

4

47. Write a Python program to check whether a given integer is a palindrome or not.

In [22]:
a=-323

b=str(a)
print("palindrom") if b==b[::-1] else print("non")

non

48. Check whether a given string is an "isogram" or not

In [67]:
a="hello"
#An isogram is a word with no repeating letters (such as ambidextrously)
print(len(a)==len(set(a)))

False

49. Check if a number is a palindrome

In [70]:
n=132

m=n
if str(n)==str(n)[::-1]:
    print("yes")
else:
    print("no")

no

50. Write a Python program to test whether a given integer is a Pandigital number or not.

In [74]:
#A number is said to be pandigital if it contains each of the digits from 0 to 9 (and whose leading digit must be nonzero)
a=342984316161060147561
print(len(set(str(a)))==10)

True